.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.input {
  padding: .5rem 1.5rem;
  border: 2px solid black;
  border-radius: .5rem;
}

.input:hover,
.input:focus {
  background-color: rgb(240, 240, 240);
}

.inputError {
  border-color: red;
}

.error {
  font-size: .75rem;
  color: red;
}